@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
	background-color: SteelBlue;
	padding-top: 10px;
	padding-left: 20px;
	max-width: 640px;
	margin: auto;
	text-align: center;
}

h1 {
	color: white;
	font-family: 'DM Sans', sans-serif;
}

p {
	color: white;
    font-family: 'DM Sans', sans-serif;
}
